body{
	/*background-image: linear-gradient(90deg, #6f0fed 10%, #2bc0e4 90%);*/
	background-color: #e3e3e3;
}

.container{
	margin-top: 40px;
	text-align: center;
}

.well{
	padding: 5px 50px;
	border-radius: 5px;
	border: 1px solid #cdcdcd;
	height: 300px;
}

.well span{
	font-weight: bold;
	font-size: 25px;
}

#score{
	font-weight: bold;
	font-size: 25px;
	margin-top: 100px;
	width: 535px;
}

#player, #comp{
	font-size: 30px;
	margin-top: 100px;
}

button.btn-success{
	color: white;
	margin: 50px 5px;
}

#restart{
	margin: 0 auto;
	background-color: #e3e3e3 !important;
}